/* .profile-container {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  background-color: #f5f7fa;
  min-height: 100vh;
} */

.profile-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: #dbeafe;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.profile-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 435px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.logout-btn {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.logout-btn:hover {
  background-color: #c82333;
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.form-group input {
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease;
}

.form-group input:focus {
  border-color: #ffb300;
}

.update-btn {
  background-color: #ffb300;
  color: white;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.update-btn:hover {
  background-color: #ffb300;
}

.profile-error {
  color: #e63946;
  margin-bottom: 12px;
  font-weight: 500;
}
